# Mood-Based  Content Recommendation System for Chilio

## Problem Statement

Chilio's queer content is underperforming due to a content discovery and mood-matching issue. Users frequently select titles expecting one emotional tone (e.g., light and humorous) but encounter content with a dramatically different mood (e.g., intense and emotionally draining). This mismatch leads to poor viewing experiences, reduced engagement, and lower viewership for queer content on the platform.

## Business Objective

1. How can we match users with queer content that fits their current mood?

2. Can we reduce the number of incomplete or abandoned views by aligning recommendations with emotional expectations? 

3. How can we personalize queer content recommendations in a way that enhances emotional connection and user satisfaction?

4. How can we use mood as a recommendation input to complement traditional filters like genre or popularity?


## Process
- Import Libraries needed
- Data cleaning, EDA and Preparation - Create a function that goes through the Movie Overview and a sign an emotion to. The emotions is housed in a seperate column
    - Feature Engineering 
    - Outlier Treatment 
    - Missing Value Treatment
- Data Modeling
- Model Validation
- Model Deployment

## Import Libraries and Load Dataset

Because the project is about creating a mood based recommendation system NRCLEX is installed to help in creating a column to house the emotion of the each movie based on the Movie overview

In [1]:
#Import needed Libraries
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import roc_curve, auc
! pip install NRCLex
from nrclex import NRCLex


plt.style.use('seaborn-v0_8-darkgrid')

Requirement already satisfied: NRCLex in c:\users\002401\appdata\local\anaconda3\lib\site-packages (3.0.0)
Requirement already satisfied: textblob in c:\users\002401\appdata\local\anaconda3\lib\site-packages (from NRCLex) (0.19.0)
Requirement already satisfied: nltk>=3.9 in c:\users\002401\appdata\local\anaconda3\lib\site-packages (from textblob->NRCLex) (3.9.1)
Requirement already satisfied: click in c:\users\002401\appdata\local\anaconda3\lib\site-packages (from nltk>=3.9->textblob->NRCLex) (8.1.7)
Requirement already satisfied: joblib in c:\users\002401\appdata\local\anaconda3\lib\site-packages (from nltk>=3.9->textblob->NRCLex) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\002401\appdata\local\anaconda3\lib\site-packages (from nltk>=3.9->textblob->NRCLex) (2023.10.3)
Requirement already satisfied: tqdm in c:\users\002401\appdata\local\anaconda3\lib\site-packages (from nltk>=3.9->textblob->NRCLex) (4.65.0)
Requirement already satisfied: colorama in c:\users\002401\appdata\local\anaconda3\lib\site-packages (from click->nltk>=3.9->textblob->NRCLex) (0.4.6)

In [2]:
#Load dataset

data = pd.read_csv('lgbtq_movies.csv')

data.head()

,id,title,original_title,original_language,overview,release_date,popularity,vote_average,vote_count,adult,video,genre_ids
0,860159,Crush,Crush,en,When an aspiring young artist is forced to joi...,2022-04-29,321.755,7.5,120,False,False,"[35, 10749]"
1,719088,"Yes, No, or Maybe Half?",イエスかノーか半分か,ja,"Kunieda Kei is a popular, young TV announcer w...",2020-12-11,139.229,7.1,26,False,False,"[16, 18, 10749]"
2,632632,Given,映画 ギヴン,ja,The film centers on the love relationship amon...,2020-08-22,110.140,8.4,318,False,False,"[16, 18, 10402, 10749]"
3,929477,Heart Shot,Heart Shot,en,Teenagers Nikki and Sam are in love and planni...,2022-02-17,88.760,5.4,37,False,False,"[10749, 80]"
4,197158,Porno,Pornô!,pt,Three tales of the erotic: Two young ladies ex...,1981-01-01,76.302,4.3,46,False,False,[18]

## Data Cleaning and Preprocessing

This step is important in the project as it will in removing data that would hinder our outcome such as missing overviews or null values, it is also needed to deal with categorical data and detect outliers

In [3]:
#Check for missing values
data.isnull().sum()

id                    0
title                 0
original_title        0
original_language     0
overview             77
release_date         90
popularity            0
vote_average          0
vote_count            0
adult                 0
video                 0
genre_ids             0
dtype: int64

In [4]:
#Understand the data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7165 entries, 0 to 7164
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 7165 non-null   int64
 1   title              7165 non-null   object
 2   original_title     7165 non-null   object
 3   original_language  7165 non-null   object
 4   overview           7088 non-null   object
 5   release_date       7075 non-null   object
 6   popularity         7165 non-null   float64
 7   vote_average       7165 non-null   float64
 8   vote_count         7165 non-null   int64
 9   adult              7165 non-null   bool
 10  video              7165 non-null   bool
 11  genre_ids          7165 non-null   object
dtypes: bool(2), float64(2), int64(2), object(6)
memory usage: 573.9+ KB

In [5]:
#Change release_date to release_year 

data['release_year'] = pd.to_datetime(data['release_date']).dt.year.fillna(0).astype(int)
data['release_year'].tail()

7160    2010
7161       0
7162    2001
7163    2022
7164    2022
Name: release_year, dtype: int32

In [6]:
#Drop release_date column as it is not longer needed
data.drop(columns=['release_date'], inplace=True)

In [7]:
#Drop unnecessary columns
data.drop(columns=['vote_count', 'adult', 'video'],inplace=True)

In [ ]:
#Add genre dataset and create column for genre and emotions